@charset "UTF-8";

body {
    margin: 0;
}

.container {
    background-color:rgba(236, 228, 228, 0.1);
}

#background-canvas {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.header-inner {
    display: flex;
}

.header-inner .title {
    padding: 30px;
    text-align: center;
    flex: 1 1 auto;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
}

.header-inner img {
    width: 30px;
    height: 30px;
}

.header-inner .menu {
    flex: 0 0 32px;
    align-self: center;
    margin-left: 36px;
}

.content {
    margin: 0 10%;
    background-color: rgba(119, 119, 119, 0.3);
}

.content-inner {
    padding: 10px;
    height: 1000px;
}

.content-inner ul {
    margin: 20px 20px 20px 20px;
    padding: 0;
    color: white;
}

.content-inner a {
    color: orange;
}

#nav {
    position: fixed;
    left: -270px;
    top: 0;
    width: 270px;
    height: 100%;
    background: black;
    color: white;
}

#nav .container {
    padding: 24px 24px 0 24px;
    background: black;
}

#nav .menu-title {
    font-size: 36px;
    text-align: center;
}

#nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#nav li a {
    display: block;
    padding: 0.75rem 0;
    border-bottom: 1px solid white;
    text-decoration: none;
    color: white;
}

#nav li a:hover {
    background-color: gray;
}

#nav, #wrapper {
    transition: transform 0.4s;
}

.show {
    transform: translate3d(270px, 0, 0);
}

.footer-inner {
    text-align: center;
    background: black;
    color: white;
}

@media only screen and (min-width: 768px) {

    .header-inner .title {
        font-size: 36px;
    }

    .header-inner img {
        width: 62px;
        height: 62px;
    }

    .content {
        margin: 0 20%;
    }

    .content-inner {
        padding: 20px 40px 20px 40px;
    }

    .content-inner ul {
        font-size: 24px;
    }
}